.main {
  width: 100%;
  height: 100%;
  margin-top: 0;
  grid-template-columns: 19rem calc(100% - 260px);
  grid-auto-flow: row;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.main-wrapper {
  height: 100%;
  margin-top: 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  place-content: flex-start space-between;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--background);
  transition: background 0.25s var(--ease-in-out-quad);
  scroll-behavior: smooth;
}

.site-content-wrapper {
  flex-grow: 1;
  min-width: 20rem;
}

.flex__container {
  display: flex;
  flex: 1;
}
