.header {
  background-color: rebeccapurple;
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__elevation {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.header__wrap {
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  max-width: 832px;
  padding: 1rem 0;
}

.header__heading {
  margin: 0;
  font-size: 2rem;
}

.header__nav {
  font-size: 1.25rem;
  margin-top: 0;
  text-align: right;
}

.header__link {
  color: white;
  font-weight: bold;
  margin-left: 0.75rem;
  margin-top: 0;
  padding: 0.25rem;
  text-decoration: none;
}

.header__linkHome {
  font-size: 2rem;
  margin-left: -0.25rem;
}

.header__link:hover,
.header__link:active {
  background: white;
  color: rebeccapurple;
}

/*
*** -----FOCUS PSEUDO CLASS-----
 The :focus CSS pseudo-class is applied when an element has received focus, either from 
 the user selecting it with the use of a keyboard or by activating with the mouse
*** -----FOCUS PSEUDO CLASS-----
.header__link:focus {
  background: white;
  color: rebeccapurple;
}
*/
