.status {
  margin: 0;
  display: flex;
  justify-content: center;
  background: lightgrey;
  font-size: 87.5%;
  padding: 0.25rem;
}

.status__text {
  margin: 0 auto 0 0;
  max-width: 640px;
  text-align: right;
  display: flex; 
  align-items: center;
}
